body    {
    background-image: url("../images/board.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-weight: 600;
}

.jumbotron  {
    background-image: url("../images/burger.jpg");
    background-position: center;
    height: 100%;
    text-align: center;
    color: white;
}

#leftburger {
    border: 2px solid red;
    border-radius: 2px;
    text-align: center;
    margin: 5px
}

#rightburger {
    border: 2px solid yellow;
    border-radius: 2px;
    text-align: center;
    margin: 5px
}

#uneaten    {
    border: 2px solid brown;
    border-radius: 2px;
    margin: 5px
   
}
#eaten    {
    border: 2px solid brown;
    border-radius: 2px;
    margin: 5px
   
}
#add-burger {
    text-align: center;
    margin: 5px
}